<div class="container">
  <% if @teams.present? %>
    <% @teams.each do |team| %>
      <div class="card text-center mb-5">
        <div class="card-header">

        </div>
        <div class="card-body">
          <h3 class="card-title">Partida Confirmada!</h3>
          <h5 class="card-text">Bom jogo pra você e seu time!</h5>

        </div>
        <div class="card-footer text-muted">
          Partida Iniciada em: <%= team.created_at.strftime("%B %d, %Y") %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h1>Voce ainda nao jogou nenhuma partida</h1>
  <% end %>
</div>
