.back-show {
  background-color: #70E000;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  margin-right:10px;
}

.back-show-2 {
  background-color: #08BDBD;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
}

.back-show-3 {
  background-color: #F21B3F;
  height: 250px;
  width: 600px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  margin-right:10px;
  margin-bottom: 50px;
}

.back-show-4 {
  background-color: #FF9914;
  height: 250px;
  width: 600px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
  margin-bottom: 50px;
}

.back-show-5 {
  background-color: #FF9914;
  height: 350px;
  width: 600px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
  margin-bottom: 50px;
  }
.back-show-6 {
  background-color: #FF9914;
  height: 350px;
  width: 900px;
  margin-top: 20px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
  margin-bottom: 50px;
  }

// EFF48E

h2 {
  color: white;
  font-family: "montserrat";
  font-weight: 700;
  padding: 20px;
  font-size: 24px;
}

.header {
  color: black;
  font-family: "montserrat";
  margin-top: 50px;
  font-weight: 700;
}

h3 {
  color: black;
  font-family: "cabin";
  font-weight: 700;
}

// body {
//   // background-image: url(https://res.cloudinary.com/dngytfadz/image/upload/v1654361791/ball_goln0x.png);
//   background-color: white;
//   // background-repeat: no-repeat;

// }

p {
  margin-left: 20px;
  font-family: montserrat;
}

.p-2 {
  margin-left: 20px;
  font-family: cabin;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.font2 {
  font-family: montserrat;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.font-small {
  font-family: montserrat;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: smaller;
}
// .a-3 {
//   text-decoration: none;
//   color: rgb(161, 25, 25);
// }

body {
  background-color: beige;
}
