.back-show {
  background-color: #94CF01;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
}

h2 {
  color: white;
  font-family: "montserrat";
  font-weight: 400;
  padding: 20px;
}

.header {
  color: #FF4802;
  font-family: "montserrat";
  margin-top: 50px;
  font-weight: 400;
}

h3 {
  color: #FF4802;
  font-family: "montserrat";
  font-weight: 400;
  font-style: bold;
}

body {
  background-color: white;
}

p {
  margin-left: 20px;
}
