.back-show {
  background-color: #94CF01;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  margin-right:10px;
}

h2 {
  color: white;
  font-family: "montserrat";
  font-weight: 700;
  padding: 20px;
  font-size: 24px;
}

.header {
  color: black;
  font-family: "montserrat";
  margin-top: 50px;
  font-weight: 700;
}

h3 {
  color: black;
  font-family: "cabin";
  font-weight: 700;
}

body {
  // background-image: url(https://res.cloudinary.com/dngytfadz/image/upload/v1654361791/ball_goln0x.png);
  background-color: white;
  // background-repeat: no-repeat;

}

p {
  margin-left: 20px;
  font-family: montserrat;
}

p-2 {
  font-family: cabin;
}

.back-show-2 {
  background-color: #623CEA;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.back-show-3 {
  background-color: orange;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
}

.back-show-4 {
  background-color: grey;
  height: 250px;
  width: 600px;
  margin-top: 50px;
  border-radius: 25px;
  color: white;
  margin-left: 10px;
}
