 <div>
  <h1>Minha dupla e meus adversários</h1>

    <ul>
      <% @schedules.each do |sched|%>
        <%# <% if (sched.user_id == current_user.id) then %> %>
          <li><%= "#{sched.date} - #{sched.place} -
          Parceiros:
          1-#{sched.partner["duo"]}
          2-#{sched.partner["opponent_1"]}
          3-#{sched.partner["opponent_2"]}" %></li>
        <%# <% end %> %>
      <% end %>
    </ul>
  </div>
