 <div class="container mt-5">
  <h3>Minha dupla e meus adversários</h3>

    <div class="back-show-5 col-md-6">
      <ul class="font2">
        <% @schedules.each do |sched|%>
          <% if (sched.user_id == current_user.id) then %>
            <%= duo_detail = User.where(id: sched.partner["duo"]).pluck(:name) %>
            <%= opponent_1_detail = User.where(id: sched.partner["opponent_1"]).pluck(:name) %>
            <%= opponent_2_detail = User.where(id: sched.partner["opponent_2"]).pluck(:name) %>
            <li><%= "Current: #{current_user.id} - User_id:#{sched.user_id} - #{sched.date} - #{sched.place} -
            Parceiros:
            Dupla -#{sched.partner["duo"]}
            Adversário (1) -#{sched.partner["opponent_1"]}
            Adversário (2) -#{sched.partner["opponent_2"]}" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
