.navbar-lewagon {
  justify-content: space-between !important;
  background: #5386E4 !important;
  color: white !important;
  font-family: cabin !important;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-custom {
  color: white !important;
  text-decoration: none !important;
  font-family: cabin !important;
}

.nav-link {
  color: white !important;
  text-decoration: none!important;
}
