.navbar-lewagon {
  justify-content: space-between;
  background: #5386E4;
  color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-custom {
  color: white;
  text-decoration: none;
  font-family: cabin;
}

.nav-link {
  color: white;
  text-decoration: none;
}
