<p>Olá <%= @resource.email %>!</p>

<p>Foi solicitado um link para alterar a sua senha. Você pode alterar clicando no link abaixo.</p>

<p><%= link_to 'Alterar a minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou alteração de senha, por favor, ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma senha nova.</p>
